Assistant by Samsung Note 4
[{"id":"414b9ad4.5107c4","type":"inject","z":"2f318c36.039db4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"testing testing one two three","payloadType":"str","x":730,"y":1060,"wires":[["34bbbfe3.846b"]]},{"id":"46ce35df.27730c","type":"text-to-speech","z":"2f318c36.039db4","name":"","x":1060,"y":1060,"wires":[["478aa220.a84e7c"]]},{"id":"478aa220.a84e7c","type":"volume-set","z":"2f318c36.039db4","name":"","volume":"50","target":"alarm","x":1250,"y":1060,"wires":[[]]},{"id":"34bbbfe3.846b","type":"function","z":"2f318c36.039db4","name":"","func":"msg.payload = {\n    \"text\": \"誇大\",\n    \"lang\": \"yue\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1060,"wires":[["46ce35df.27730c"]]},{"id":"541edeb9.eedc7","type":"inject","z":"2f318c36.039db4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"testing testing one two three","payloadType":"str","x":270,"y":280,"wires":[["3c4983c0.7a551c"]]},{"id":"3c4983c0.7a551c","type":"http request","z":"2f318c36.039db4","name":"route-stop","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/route-stop/CTB/71/outbound","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":280,"wires":[["f8b4c8d9.477cf8"]]},{"id":"b9671385.0fa8","type":"debug","z":"2f318c36.039db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":280,"wires":[]},{"id":"f8b4c8d9.477cf8","type":"json","z":"2f318c36.039db4","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["b9671385.0fa8"]]},{"id":"9ceadc85.89e2a","type":"http request","z":"2f318c36.039db4","name":"2389","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002389/75/","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":400,"wires":[["9522589c.554018"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"443dd95c.c94a88","type":"debug","z":"2f318c36.039db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":660,"wires":[]},{"id":"9522589c.554018","type":"json","z":"2f318c36.039db4","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":400,"wires":[["d944c19e.f7e02"]]},{"id":"a0057985.f6d768","type":"http request","z":"2f318c36.039db4","name":"2389","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002389/72A/","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":560,"wires":[["ada78001.2f992"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"ada78001.2f992","type":"json","z":"2f318c36.039db4","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":560,"wires":[["40cffd52.d388d4"]]},{"id":"40cffd52.d388d4","type":"function","z":"2f318c36.039db4","name":"next route 72A","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 1 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        break;\n\n    }\n}\n\nvar text = \"下一班72A係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":560,"wires":[["209b03ef.4cfa5c","443dd95c.c94a88"]]},{"id":"d944c19e.f7e02","type":"function","z":"2f318c36.039db4","name":"next route 75","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 1 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        break;\n\n    }\n}\n\nvar text = \"下一班75係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":400,"wires":[["443dd95c.c94a88","209b03ef.4cfa5c"]]},{"id":"209b03ef.4cfa5c","type":"link out","z":"2f318c36.039db4","name":"","links":["4f64ad7a.751344"],"x":1435,"y":720,"wires":[]},{"id":"4f64ad7a.751344","type":"link in","z":"2f318c36.039db4","name":"","links":["209b03ef.4cfa5c","382a316.78807ce","7cf01976.cc42b8","30cbfbe9.ec96e4"],"x":915,"y":1020,"wires":[["46ce35df.27730c"]]},{"id":"c3fe440c.147538","type":"http request","z":"2f318c36.039db4","name":"2383","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002383/107/","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":700,"wires":[["3924f574.ba58fa"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"3924f574.ba58fa","type":"json","z":"2f318c36.039db4","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":700,"wires":[["5d661350.1c588c"]]},{"id":"5d661350.1c588c","type":"function","z":"2f318c36.039db4","name":"next route 107","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 9 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        msg.time = time;\n        break;\n    }\n}\n\nvar text = \"下一班107往九龍灣方向係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":700,"wires":[["209b03ef.4cfa5c","443dd95c.c94a88"]]},{"id":"b94a571c.dc1968","type":"http request","z":"2f318c36.039db4","name":"2223","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002223/71/","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":860,"wires":[["93af0069.68111"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"93af0069.68111","type":"json","z":"2f318c36.039db4","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":860,"wires":[["8cb0bb4d.1f4218","1bd3fcd3.47c393"]]},{"id":"8cb0bb4d.1f4218","type":"function","z":"2f318c36.039db4","name":"next route 71","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 1 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        msg.time = time;\n        break;\n    }\n}\n\nvar text = \"下一班71往中環方向係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":860,"wires":[["209b03ef.4cfa5c","443dd95c.c94a88"]]},{"id":"1bd3fcd3.47c393","type":"debug","z":"2f318c36.039db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":920,"wires":[]},{"id":"8442a356.c3e89","type":"ui_button","z":"2f318c36.039db4","name":"75","group":"8f9dc3d6.87696","order":0,"width":0,"height":0,"passthru":false,"label":"75","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":770,"y":340,"wires":[["9ceadc85.89e2a","909fcec6.8ba76","d13b20c1.0c9d1"]]},{"id":"8410426f.8bd72","type":"ui_button","z":"2f318c36.039db4","name":"72A","group":"8f9dc3d6.87696","order":0,"width":0,"height":0,"passthru":false,"label":"72A","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":520,"wires":[["a0057985.f6d768","99bb97d8.8d33e8","e5a23982.8a5428"]]},{"id":"5fc8b6c7.acfda8","type":"ui_button","z":"2f318c36.039db4","name":"107","group":"8f9dc3d6.87696","order":0,"width":0,"height":0,"passthru":false,"label":"107","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":680,"wires":[["c3fe440c.147538","664c7344.761dbc","94d5c959.6b5308"]]},{"id":"7b75143c.6784bc","type":"ui_button","z":"2f318c36.039db4","name":"71","group":"8f9dc3d6.87696","order":0,"width":0,"height":0,"passthru":false,"label":"71","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":800,"wires":[["b94a571c.dc1968","c513f9e0.1b9a58","fd168519.f3bfb8"]]},{"id":"fa165883.289e88","type":"inject","z":"2f318c36.039db4","name":"weekdays 8-9","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/10 8 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":660,"wires":[["8f8c71d9.57e18"]]},{"id":"f8d42e34.620fb","type":"inject","z":"2f318c36.039db4","name":"weekend 10-19","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/15 11-18 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":580,"wires":[["a0057985.f6d768","89cf6b12.1786e8"]]},{"id":"89cf6b12.1786e8","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":400,"wires":[["9ceadc85.89e2a"]]},{"id":"909fcec6.8ba76","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":340,"wires":[["9ceadc85.89e2a"]]},{"id":"d13b20c1.0c9d1","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":300,"wires":[["9ceadc85.89e2a"]]},{"id":"e5a23982.8a5428","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":460,"wires":[["a0057985.f6d768"]]},{"id":"99bb97d8.8d33e8","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":500,"wires":[["a0057985.f6d768"]]},{"id":"664c7344.761dbc","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":600,"wires":[["c3fe440c.147538"]]},{"id":"94d5c959.6b5308","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":640,"wires":[["c3fe440c.147538"]]},{"id":"fd168519.f3bfb8","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":780,"wires":[["b94a571c.dc1968"]]},{"id":"c513f9e0.1b9a58","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":820,"wires":[["b94a571c.dc1968"]]},{"id":"be772b6a.d3ad08","type":"http request","z":"2f318c36.039db4","name":"checkWeather","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://3.113.230.18:1880/weather","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":1240,"wires":[["10ac39f3.525fc6"]]},{"id":"10ac39f3.525fc6","type":"json","z":"2f318c36.039db4","name":"","property":"payload","action":"","pretty":false,"x":950,"y":1240,"wires":[["492950ab.4ede8"]]},{"id":"492950ab.4ede8","type":"function","z":"2f318c36.039db4","name":"weather","func":"var temp = msg.payload.temp;\nvar feelLike = msg.payload.feelLike;\nvar humidity = msg.payload.humidity;\nvar description = msg.payload.description;\nvar uvi = msg.payload.uvi;\n\nvar temp3 = msg.payload.temp3;\nvar feelLike3 = msg.payload.feelLike3;\nvar humidity3 = msg.payload.humidity3;\nvar description3 = msg.payload.description3;\nvar uvi3 = msg.payload.uvi3;\n\nvar text = \"現在香港仔天氣: \" + description + \", 溫度: \" + temp + \"度, 體感: \" + feelLike + \"度, 濕度: \" + humidity + \", 紫外線指數: \" + uvi + \"; 未來3小時預測: \" + description3 + \", 溫度: \" + temp3 + \"度, 體感: \" + feelLike3 + \"度, 濕度: \" + humidity3 + \", 紫外線指數: \" + uvi3;\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":1240,"wires":[["a73c5d3.e3bfca","30cbfbe9.ec96e4"]]},{"id":"a73c5d3.e3bfca","type":"debug","z":"2f318c36.039db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":1200,"wires":[]},{"id":"30cbfbe9.ec96e4","type":"link out","z":"2f318c36.039db4","name":"","links":["4f64ad7a.751344"],"x":1215,"y":1240,"wires":[]},{"id":"e852d02b.d7184","type":"inject","z":"2f318c36.039db4","name":"weekdays 08-10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/15 8-9 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1180,"wires":[["485d15f0.54913c"]]},{"id":"6ebdb761.f901e8","type":"inject","z":"2f318c36.039db4","name":"weekend 10-22","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"0 10-21 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":1300,"wires":[["23de2a96.aa0916"]]},{"id":"23de2a96.aa0916","type":"delay","z":"2f318c36.039db4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1240,"wires":[["be772b6a.d3ad08"]]},{"id":"8f8c71d9.57e18","type":"db","z":"2f318c36.039db4","name":"","x":410,"y":660,"wires":[["b42a93f8.a4c35"]]},{"id":"b42a93f8.a4c35","type":"function","z":"2f318c36.039db4","name":"","func":"var db = msg.payload.avg;\n\nif (db > 50){\n    return [msg, null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":560,"y":660,"wires":[["89cf6b12.1786e8","a0057985.f6d768"],[]]},{"id":"485d15f0.54913c","type":"db","z":"2f318c36.039db4","name":"","x":330,"y":1180,"wires":[["ecbfee67.bbcd7"]]},{"id":"ecbfee67.bbcd7","type":"function","z":"2f318c36.039db4","name":"","func":"var db = msg.payload.avg;\n\nif (db > 50){\n    return [msg, null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":480,"y":1180,"wires":[["23de2a96.aa0916"],[]]},{"id":"a57a19e1.67b4d8","type":"inject","z":"2f318c36.039db4","name":"weekdays 10-22","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/30 10-21 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":1240,"wires":[["23de2a96.aa0916"]]},{"id":"8f9dc3d6.87696","type":"ui_group","name":"Bus","tab":"6a0efa1e.2576d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a0efa1e.2576d4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
